.highlight{position:relative;top:50px;
color:white}
.highlight1{color:white;}
body{margin:0;padding:0;height:100%}




        table{
             border: 2px solid red;
             }
           td,th
           {

             border: 2px solid red;
             }
a{color:#3BB9FF}

.main{
height:825px;
width:1280px;
background-color:blue;
font-size:30px;
}
.row1{
height:50px;
width:1280px;
background-color:pink;
text-align:center;
font-size:25px;
}
.row1-col1{
width:320px;
height:50px;
background-color:pink;
float:left;
}
.row1-col2{
width:320px;
height:50px;
background-color:blue;
float:left;
}
.row1-col3{
width:320px;
height:50px;
background-color:green;
float:left;
}
.row1-col4{
width:320px;
height:50px;
background-color:orange;
float:left;
}
.row2{background-image:url("1.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
height:725px;text-align:center;}
.row4{background-image:url("2.jpg");
background-attachment:scroll;
background-repeat:no-repeat;
background-size:cover;height:725px;}
.row3{
height:50px;
background-color:green;
text-align:center;
font-size:25px;
}

.main2{
height:100%;
background-color:blue;
text align:center;
font-size:30px;
}
.r1{
height:150px;
background-color:pink;
text-align:center;
font-size:25px;
}
.r2{background-image:url("6.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r3{
height:50px;
background-color:skyblue;
text-align:center;
font-size:25px;
}
.r4{background-image:url("10.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r5{
height:50px;
background-color:orange;
text-align:center;
font-size:25px;
}
.r6{background-image:url("20.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r7{height:50px;
background-color:green;
text-align:center;
font-size:25px;}
.r8{background-image:url("z.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r9{height:50px;
background-color:green;
text-align:center;
font-size:25px;}


.main3{
height:100%
background-color:blue;
text align:center;
font-size:30px;
}
.r-1{
height:150px;
background-color:pink;
text-align:center;
font-size:25px;
}
.r-2{background-image:url("ab.jpg");
background-attachment:scroll;
background-repeat:no-repeat;
background-size:cover;height:1100px;text-align:center;}
.r-3{
height:50px;
background-color:skyblue;
text-align:center;
font-size:25px;
}
.r-4{background-image:url("w.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r-5{
height:50px;
background-color:orange;
text-align:center;
font-size:25px;
}
.r-6{background-image:url("14.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r-7{height:50px;
background-color:green;
text-align:center;
font-size:25px;}
.r-8{background-image:url("c.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r-9{height:50px;
background-color:green;
text-align:center;
font-size:25px;}



.main4{
height:100%
background-color:blue;
text align:center;
font-size:30px;
}
.r--1{
height:150px;
background-color:pink;
text-align:center;
font-size:25px;
}
.r--2{background-image:url("29.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:1100px;text-align:center;}
.r--3{
height:50px;
background-color:skyblue;
text-align:center;
font-size:25px;
}
.r--4{background-image:url("c2.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r--5{
height:50px;
background-color:orange;
text-align:center;
font-size:25px;
}
.r--6{background-image:url("ac.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r--7{height:50px;
background-color:green;
text-align:center;
font-size:25px;}
.r--8{background-image:url("bu.jpg");
background-attachment:scroll;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r--9{height:50px;
background-color:green;
text-align:center;
font-size:25px;}


.main5{
height:100%
background-color:blue;
text align:center;
font-size:30px;
}
.r---1{
height:150px;
background-color:pink;
text-align:center;
font-size:25px;
}
.r---2{background-image:url("16.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:1100px;text-align:center;}
.r---3{
height:50px;
background-color:skyblue;
text-align:center;
font-size:25px;
}
.r---4{background-image:url("30.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r---5{
height:50px;
background-color:orange;
text-align:center;
font-size:25px;
}
.r---6{background-image:url("lab.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r---7{height:50px;
background-color:green;
text-align:center;
font-size:25px;}
.r---8{background-image:url("bio.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;height:725px;text-align:center;}
.r---9{height:50px;
background-color:green;
text-align:center;
font-size:25px;}


.main6{
height:820px;
width:1280px;
background-color:blue;
font-size:30px;
}
.ro1{
height:50px;
background-color:pink;
text-align:center;
font-size:25px;
}
.ro1-col1{
width:320px;
height:50px;
background-color:pink;
float:left;
}
.ro1-col2{
width:320px;
height:50px;
background-color:blue;
float:left;
}
.ro1-col3{
width:320px;
height:50px;
background-color:green;
float:left;
}
.ro1-col4{
width:320px;
height:50px;
background-color:orange;
float:left;
}
.ro2{background-image:url("xyz.jpg");
background-attachment:scroll;
background-repeat:no-repeat;
background-size:cover;height:770px;text-align:center;}

.ro3{
height:50px;
background-color:green;
text-align:center;
font-size:25px;
}



.main7{
height:820px;
width:1280px;
background-color:blue;
font-size:30px;
}
.ro-1{
height:50px;
background-color:pink;
text-align:center;
font-size:25px;
}
.ro-1-col1{
width:320px;
height:50px;
background-color:pink;
float:left;
}
.ro-1-col2{
width:320px;
height:50px;
background-color:blue;
float:left;
}
.ro-1-col3{
width:320px;
height:50px;
background-color:green;
float:left;
}
.ro-1-col4{
width:320px;
height:50px;
background-color:orange;
float:left;
}
.ro-2{background-image:url("abc.jpg");
background-attachment:scroll;
background-repeat:no-repeat;
background-size:cover;height:725;}

.ro-3{
height:50px;
background-color:green;
text-align:center;
font-size:25px;
}
